@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply h-[100dvh] bg-neutral-900 text-neutral-50;
    }

    #__next {
        @apply h-full;
    }

    main {
        @apply h-full max-w-[auto] m-auto;
    }

    img {
        @apply w-full h-full object-cover;
    }
}

@layer components {
    .button-primary {
        @apply inline-flex items-center gap-2 px-4 py-2 bg-white text-black rounded;
    }

    .button-outline {
        @apply inline-flex items-center gap-2 px-4 py-2 bg-neutral-500 text-neutral-50 rounded;
    }
}
